.hero {
    background-color: #02543c;

    h1 {
        font-size: 50px;
        font-weight: bold;
        text-transform: uppercase;
        color: #f7323f;
    }

    p {
        color: white;
        font-size: 24px;
    }
}

.txt-right {
    text-align: right;
}

.margin-top {
    margin-top: 50px;
}